extends ../layout

block content
	.admin-box
		h4.pull-left jobs

		a.btn.btn-primary.pull-right(href="#",data-toggle="modal",data-target="#add-job") add job

		table.table
			thead
				tr
					th #
					th name
					th repeat interval
					th url
					th actions
			tbody
				each job,i in jobs
					tr
						td= i+1
						td= job.data.title || job.name
						td= job.repeatInterval/1000 + 's'
						td= job.data.url
						td= job.data.actions.join(' , ')

		#add-job.modal.fade(role="dialog")
			.modal-dialog
				form#form-add-job.modal-content.form-horizontal(action="/job/add",method="POST",role="form")
					.modal-header
						button.close(data-dismiss="modal") &times;
						h4.modal-title Add a job
					.modal-body
						.form-group
							label.control-label.col-sm-2(for="input-title") Title
							.col-sm-8
								input#input-title.form-control(type="text",name="title")
						.form-group
							label.control-label.col-sm-2(for="input-url") Url
							.col-sm-8
								input#input-url.form-control(type="text",name="url")
						.form-group
							label.control-label.col-sm-2(for="input-interval") Interval
							.col-sm-2
								input#input-interval.form-control(type="text",name="interval_num",value="10")
							.pull-left
								select.form-control(name="interval_type")
									option(value="seconds") seconds
									option(value="minutes") minutes
									option(value="hours" selected="selected") hours
									option(value="days") days
						.form-group
							label.control-label.col-sm-2(for="input-actions") Actions
							.col-sm-4
								select.form-control(name="action",id="input-actions")
									each action,i in actions
										option(value=action._id)= action.name

					.modal-footer
						button.btn.btn-primary(type="submit") Add

	script.
		$(function(){
			$('#form-add-job').submit(function(event){
				event.preventDefault();
				$.post($(this).attr('action'),$(this).serialize(),function(){
					location.reload();
				});
			});
		});

